@import "./reset.scss";

$grey: #cacdcd;

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bcbfbf;
}

.phone {
  width: 480px;
  height: 90%;
  border-radius: 10px;
  background-color: $grey;
  box-shadow: 5px 10px 10px rgba($color: #000000, $alpha: 0.5);
}

.header {
  padding: 50px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header__title {
    text-transform: uppercase;
    font-weight: bold;
  }
}

.total {
  background-color: black;
  padding: 30px 15px;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: bold;
  gap: 10px;
  .total__price {
    font-size: 22px;
  }
  .total__subtitle {
    font-size: 14px;
  }
}

.items {
  background-color: #c6caca;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .item {
    border-top: 5px solid black;
    position: relative;
    .item__info {
      background-color: #d7dbdb;
      padding: 30px 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      .item__info-col {
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 5px;
        &:nth-child(2) {
          align-items: flex-end;
        }
      }
      .item__title {
        font-weight: bold;
        font-size: 42px;
      }
      .item__subtitle {
        font-size: 14px;
      }
      .item__total-price {
        font-size: 34px;
      }
      .item__piece-price {
        font-size: 18px;
      }
    }
  }
}

.item__specs {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  background-color: #d7dbdb;
  .spec {
    padding: 25px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    justify-content: center;
    &:last-child {
      border-left: 5px solid black;
    }
  }
}

.item__photo {
  position: absolute;
  width: 30%;
  height: 60%;
  border: 5px solid black;
  right: 15px;
  bottom: 0px;
  object-fit: cover;
}
