@import "./reset.scss";

$bg: #e4e5e9;
$black: #393e44;
$red: #e21a00;
$grey: #cbcfd2;
$blue: #392aa9;
$darkGrey: #7f848a;
$yellow: #edc212;

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  background-color: $black;
  color: $black;
  gap: 2px;
}

.info {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  .info__hd,
  .info__space,
  .info__settings {
    background-color: $bg;
  }
  .info__space {
    grid-row: 1 / span 2;
    grid-column: 2 / span 2;
  }
  .info__settings {
    grid-row: 3 / span 2;
    grid-column: 2 / span 2;
  }
  .info__hd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    .hd__discs {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      div:first-child {
        height: 110px;
        width: 110px;
        border-radius: 50%;
        background-color: #393e44;
      }
      div:last-child {
        height: 22px;
        width: 22px;
        border-radius: 11px;
        background-color: $bg;
        position: absolute;
      }
    }
    .hd__footer {
      width: 80%;
      display: flex;
      justify-content: space-between;
      .hd__full {
        display: flex;
        align-items: center;
        gap: 2.5px;
        justify-content: space-between;
        span {
          height: 5px;
          width: 5px;
          border-radius: 2.5px;
          background-color: $black;
        }
      }
    }
  }
  .info__settings {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    font-weight: 300;
  }
  .info__space {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    .info__space-item {
      h3 {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: 300;
      }
      h2 {
        font-size: 144px;
      }
    }
  }
}

.stats {
  display: grid;
  grid-template-rows: 2fr 1fr 1.5fr 2.5fr 3.5fr;
  .stats__stat {
    padding: 20px;
    color: $black;
    &:first-child {
      background-color: $bg;
    }
    &:nth-child(2) {
      background-color: $yellow;
    }
    &:nth-child(3) {
      background-color: $darkGrey;
    }
    &:nth-child(4) {
      background-color: $red;
      color: white;
    }
    &:nth-child(5) {
      background-color: $blue;
      color: white;
    }
    .stat__info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 20px;
      font-weight: 300;
      text-transform: uppercase;
    }
  }
}
